{% set eventPartner = entry.partners.all() %}
{% set eventPartnerLead = entry.partners.partnerLevel('leadPartner').all() %}
{% set eventPartnerPartner = entry.partners.partnerLevel('partner').all() %}
{% set eventPartnerCommunity = entry.partners.partnerLevel('communityPartner').all() %}
{% set eventPartnerInkind = entry.partners.partnerLevel('inKindPartner').all() %}

{% if eventPartner | length %}
<div class="container max-width-adaptive-md" id="partners">
	<div class="text-component margin-bottom-lg">
		<h2 class="text-xl text-xxl@sm margin-bottom-xs">Partners</h2>

		{{ partners.body }}
	</div>
	
	{% if eventPartnerLead | length %}
	<h5 class="font-primary font-bold color-accent margin-bottom-sm">Lead Partner</h5>

	<ul class="flex gap-xl flex-wrap margin-bottom-xxxxs">
		{% for entry in eventPartnerLead %}
			{% for image in entry.partnerLogo.all %}				
				<li><a href="{% for row in entry.website %}{{ row.websiteURL }}{% endfor %}" target="_blank"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}" class="height-xl"/></a></li>
			{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}

	{% if eventPartnerPartner | length %}
	<h5 class="font-primary font-bold color-accent margin-bottom-sm">Partners</h5>

	<ul class="flex gap-xl flex-wrap margin-bottom-xxxxs">
		{% for entry in eventPartnerPartner %}
			{% for image in entry.partnerLogo.all %}				
				<li><a href="{% for row in entry.website %}{{ row.websiteURL }}{% endfor %}" target="_blank"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}" class="height-lg"/></a></li>
			{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}

	{% if eventPartnerCommunity | length %}
	<h5 class="font-primary font-bold color-accent margin-bottom-sm">Community partners</h5>

	<ul class="flex gap-xl margin-bottom-xxxxs">
		{% for entry in eventPartnerCommunity %}
			{% for image in entry.partnerLogo.all %}				
				<li><a href="{% for row in entry.website %}{{ row.websiteURL }}{% endfor %}" target="_blank"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}" class="height-lg"/></a></li>
			{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}

	{% if eventPartnerInkind | length %}
	<h5 class="font-primary font-bold color-accent margin-bottom-sm">In-kind partners</h5>

	<ul class="flex gap-xl margin-bottom-md">
		{% for entry in eventPartnerInkind %}
			{% for image in entry.partnerLogo.all %}				
				<li><a href="{% for row in entry.website %}{{ row.websiteURL }}{% endfor %}" target="_blank"><img src="{{ image.getUrl() }}" alt="{{ entry.title }}" class="height-lg"/></a></li>
			{% endfor %}
		{% endfor %}
	</ul>
	{% endif %}
</div>
{% endif %}