{% extends "/main" %}

{% if entry.seoTitle %}
	{% set title = entry.seoTitle %}
{% else %}
	{% set title = entry.title %}
{% endif %}
{% if entry.seoDescription %}
	{% set seoDescription = entry.seoDescription %}
{% endif %}
{% if entry.seoKeywords %}
	{% set seoKeywords = entry.seoKeywords %}
{% endif %}

{% block main %}
	
	<div class="gradient hero--tall flex flex-column justify-between margin-bottom-xl margin-bottom-xxs@md">
		<div class="container max-width-xxl color-white svg-inherit">
			<a href="{{ siteUrl }}" class="hide@md">
			<svg class="width-xxxl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 933.4 258.91"><title>MK Geek Night</title><path class="cls-1" d="M177.4,9.61h50V258.86h-50V84.34L118,150.13,58.55,84.34v57.24L8.52,197V9.61h50L118,75.49Zm291.76-.26-67.63.16L309.41,111.62l.12-.14V9.61h-50V241.5l63.29-70.09,78.73,87.29,67.63.16L356.49,134.1Zm422.73,0V126.63h0v57.59L773,9.61H723V197l50-55.45V84.34L891.89,258.86h50V9.35ZM506.19,23c-1.05.62-2.1,1.25-3.13,1.89l0,0a132.62,132.62,0,0,0-14.76,10.65l-.21.18c-.85.72-1.7,1.44-2.53,2.18l-.21.18a130.13,130.13,0,0,0-10.23,10.11l-.27.29c-.69.77-1.37,1.55-2.05,2.33l-.39.46c-.65.76-1.28,1.52-1.9,2.29l-.37.45c-.68.85-1.35,1.7-2,2.55l-.16.21q-2.18,2.85-4.2,5.84l-.17.25c-.59.87-1.16,1.75-1.73,2.64-.14.21-.27.43-.41.65-.49.77-1,1.54-1.43,2.32l-.46.76-1.34,2.32c-.14.25-.28.49-.41.74-.49.87-1,1.75-1.43,2.63-.07.15-.15.29-.23.43-1.09,2.1-2.13,4.23-3.1,6.39-.1.22-.2.44-.29.66-.38.84-.75,1.68-1.1,2.54l-.39.93c-.32.77-.63,1.55-.93,2.33l-.39,1q-.45,1.2-.87,2.4c-.11.31-.23.61-.33.92-.32.93-.63,1.86-.94,2.8-.05.17-.11.35-.17.53q-1.14,3.61-2.07,7.31c-.08.31-.16.62-.23.93-.27,1.08-.52,2.17-.75,3.26-.06.24-.11.48-.16.72-.28,1.32-.54,2.64-.78,4,0,.21-.07.42-.1.64-.19,1.11-.37,2.23-.53,3.35-.06.36-.11.72-.16,1.08-.15,1.15-.3,2.3-.42,3.45,0,.2-.05.4-.07.6-.14,1.33-.26,2.67-.35,4,0,.34-.05.69-.07,1-.07,1-.12,2.09-.16,3.14,0,.39,0,.78,0,1.16,0,1.37-.07,2.73-.07,4.1a129.9,129.9,0,0,0,1.63,20.44A127.8,127.8,0,0,0,447.47,173h0l18.29-20.27,4.12-4.58,22.41-24.84h0c.16-1.07.34-2.12.53-3.18a1,1,0,0,0,0-.17l.21-1c.16-.77.32-1.53.49-2.28l.3-1.2c.17-.7.36-1.41.55-2.1.11-.4.22-.8.34-1.19.21-.73.44-1.45.68-2.17h0l.33-1c.29-.84.59-1.66.9-2.48.08-.2.14-.4.22-.59s.17-.41.25-.62c.31-.78.64-1.56,1-2.34l0-.07.54-1.18c.28-.6.55-1.2.84-1.79.21-.43.43-.86.65-1.29s.56-1.08.85-1.61.47-.88.71-1.31.61-1,.91-1.56.5-.85.76-1.27c.39-.64.8-1.26,1.21-1.88l.07-.1c.43-.66.87-1.3,1.32-1.94.29-.41.57-.81.87-1.22s.73-1,1.1-1.46l.82-1.06c.4-.5.8-1,1.21-1.48l.78-.92c.45-.51.89-1,1.35-1.53.19-.22.39-.43.59-.64,1.75-1.89,3.59-3.71,5.52-5.43l.3-.28c.62-.54,1.25-1.08,1.89-1.61l.47-.39c.65-.53,1.3-1,2-1.55l.37-.28a80.62,80.62,0,0,1,12.15-7.64l.08,0a81.16,81.16,0,0,1,16.7-6.3,82.07,82.07,0,0,1,20.28-2.56c1.76,0,3.51.06,5.24.17l.33,0q3.74.26,7.35.84l.8.13c1.57.26,3.12.57,4.66.92a80,80,0,0,1,9.86,2.94,81.28,81.28,0,0,1,9.29,4.1c.75.39,1.49.79,2.23,1.2h0l33.76-37.25a130.61,130.61,0,0,0-49-20.11c-1.21-.22-2.44-.43-3.67-.62l-1.58-.25c-1.27-.18-2.55-.36-3.84-.51L586.74,6c-1.15-.13-2.31-.24-3.47-.33l-1.09-.09c-1.41-.1-2.83-.18-4.25-.24l-1,0c-1.5,0-3-.08-4.52-.08-1.11,0-2.22,0-3.33,0l-1.26,0-2,.07-1.64.1-1.62.11c-.64,0-1.27.1-1.9.16l-1.34.12c-.69.06-1.38.14-2.08.22l-1.13.13c-.75.09-1.49.2-2.23.3l-.94.13L550.53,7l-.77.13c-.83.14-1.67.3-2.5.46l-.61.12c-.87.17-1.74.35-2.6.54l-.48.11c-.91.2-1.8.41-2.7.63l-.35.09c-.93.22-1.85.47-2.77.72l-.26.06q-1.41.39-2.82.81l-.16.05c-1,.29-1.92.59-2.88.9l-.08,0c-1,.31-1.94.64-2.9,1h0c-1,.34-1.93.69-2.89,1.06h0c-1,.37-1.92.74-2.87,1.13h0A131.31,131.31,0,0,0,506.2,23ZM587,159.25H608.6l22.68-25.12L650.37,113h0l1.42-1.58,2-2.2H587Zm108-50-22.49,24.9-22.68,25.12h-.38A81.29,81.29,0,0,1,506.9,181.71h0L473.22,219a131,131,0,0,0,99.2,45.11c63.72,0,116.66-45.15,128.27-104.87l0-50Z" transform="translate(-8.52 -5.21)"/></svg>
			</a>

			<ul class="hero__keywords font-secondary margin-bottom-md margin-top-xs margin-bottom-xxs@md margin-top-0@md color-white flex flex-wrap">
				<li class="line-height-sm">Creative.</li>
				<li class="line-height-sm">Fun.</li>
				<li class="line-height-sm">Techy.</li>
				<li class="line-height-sm">Geeky.</li>
				<li class="line-height-sm">Social.</li>
				<li class="line-height-sm">Informative.</li>
				<li class="line-height-sm">Inspiring.</li>
				<li class="line-height-sm">Eclectic.</li>
			</ul>

			<h1 class="color-white text-xl text-xxl@sm margin-bottom-md">MK Geek Night, a quarterly evening event in Milton Keynes</h1>
		</div>
		{% for entry in nextEvent %}
			<div class="container max-width-xxl text-component">
				<div class="font-secondary color-white text-md">Next event</div>
				<div class="font-secondary text-xl  text-uppercase margin-top-0"><a href="#next-mkgn" class="js-smooth-scroll color-white" data-duration="300">#{{ entry.eventNo }} {{ entry.eventDate | date('M j Y') }}</a></div>
			</div>
		{% endfor %}
	</div>

	<div>

		<div class="container max-width-xxl text-component margin-top-lg">
			<h5 class="font-primary font-bold color-accent">Upcoming events</h5>
		</div>

		<div id="animated-cards">
			<div class="anim-cards js-anim-cards">
				<ul class="anim-cards__list">
				{% for entry in events %}
					<li class="anim-cards__item text-component font-secondary color-accent text-md text-gradient">
						#{{ entry.eventNo }} {{ entry.eventDate | date('F j Y') }}
					</li>
				{% endfor %}
				{% for entry in events %}
					<li class="anim-cards__item text-component font-secondary color-accent text-md text-gradient">
						#{{ entry.eventNo }} {{ entry.eventDate | date('F j Y') }}
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="drag-gallery js-drag-gallery margin-bottom-lg">
			<ul class="drag-gallery__list">
				<li class="drag-gallery__item">
					<img src="/assets/img/home-fehler.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-naomi.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-cafe1.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-bren.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-charlotte.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-cafe2.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-documentally.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-helen.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-ruth.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-alison.jpg" alt="Shots from IRL MKGN">
				</li>
				<li class="drag-gallery__item">
					<img src="/assets/img/home-james.jpg" alt="Shots from IRL MKGN">
				</li>
			</ul>
			<div aria-hidden="true" class="drag-gallery__gesture-hint"></div>
		</div>

		<div class="container max-width-adaptive-md padding-y-lg@md margin-bottom-lg">

			<article class="article text-component">
				<h3 class="text-xl@sm">So what is MKGN?</h2>
				{{ entry.body }}

				<h3 class="text-xl@sm">When & where</h2>

				{% for entry in nextEvent %}
					{{ entry.eventIntro}}
				{% endfor %}
			</article>
		</div>

		{% for entry in nextEvent %}
		<div class="container max-width-xxl margin-bottom-xxl" id="next-mkgn">

			{% set talks = entry.talks.all() %}
			{% set eventLink = entry.url %}

			<h2 class="text-xl text-xxl@sm margin-bottom-xs">#{{ entry.eventNo }} {{ entry.eventDate | date('M j Y') }}</h2>
			
			{% if talks %}
			<div class="grid gap-lg margin-bottom-xxxxs reveal-fx reveal-fx--translate-left" data-reveal-fx-delta="50">
				{% for entry in talks %}

					{% set talkTitle = entry.heading %}
					{% set speakeritem = craft.entries.section('speakers').relatedTo({
						targetElement: entry,
						limit: 1
					}).all() %}
					{% for entry in speakeritem %}
					<div class="card-v3 col-6@sm col-4@lg">
						<a href="{{ eventLink }}#{{ entry.firstName }}" class="card-v3__link" aria-label="Details of {{ entry.firstName }}’s speaker and talk">
							{% for image in entry.profilePhoto.all() %}
								{% if entry.profilePhoto %}
								<figure class="card-v3__img">
									<img src="{{ image.getUrl('profile') }}" alt="{{ entry.title }}">
								</figure>
								{% endif %}
							{% endfor %}

							<div class="card-v3__content">
								<div class="card-v3__label">{{ entry.title }}</div>
								<h3 class="color-primary text-md@lg text-lg@xl">{{ talkTitle }}</h3>
							</div>

							<div class="card-v3__footer">
								<span>More about {{ entry.firstName }}’s talk</span>
								<svg class="icon" viewBox="0 0 16 16"><g fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="0.5" y1="8.5" x2="15.5" y2="8.5"></line><polyline points="10.5,3.5 15.5,8.5 10.5,13.5 "></polyline></g></svg>
							</div>
						</a>
					</div>
					{% endfor %}
				{% endfor %}
			</div>

			<h3 class="text-component color-contrast-high">View the <a href="{{ eventLink }}">event details and schedule</a>.</h3>
			
			{% else %}
				<h3 class="text-component color-contrast-high">Event details announced soon.</h3>
			{% endif %}
		</div>
		{% endfor %}

		{% for entry in nextEvent %}
			{% include '_includes/tickets' %}

			{% include '_includes/partners' %}
		{% endfor %}
	</div>
{% endblock %}