{% set seoTitleGlobal = globalSeo.seoTitle %}
{% set seoDescriptionGlobal = globalSeo.seoDescription %}
{% set seoKeywordsGlobal = globalSeo.seoKeywords %}

{% set nextEvent = craft.entries({
	section: 'events',
	eventDate: '>=' ~ now|date('Y-m-d'),
	orderBy: 'eventDate asc',
	limit: 1,
	with: [
	'entry.title',
	'entry.url',
	'entry.eventDate'
	]
}).all %}

{% set events = craft.entries({
	section: 'events',
	eventDate: '>=' ~ now|date('Y-m-d'),
	orderBy: 'eventDate asc',
	with: [
	'entry.title',
	'entry.eventDate'
	]
}).all %}

<!doctype html>
<html lang="en" class="html-wrapper">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script>document.getElementsByTagName("html")[0].className += " js";</script>
	<link rel="stylesheet" href="https://use.typekit.net/wox0srz.css">

	 <link id="codyframe" rel="stylesheet" href="{{ siteUrl }}assets/css/style.css">
	<!-- browsers not supporting CSS variables -->
	<script>
		if(!('CSS' in window) || !CSS.supports('color', 'var(--color-var)')) {var cfStyle = document.getElementById('codyframe');if(cfStyle) {var href = cfStyle.getAttribute('href');href = href.replace('style.css', 'style-fallback.css');cfStyle.setAttribute('href', href);}}
	</script>
	<title>{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }}{% else %}{{ seoTitleGlobal }}{% endif %}</title>
	<meta name="title" content="{% if seoTitle is defined %}{{ seoTitle }}{% elseif title is defined %}{{ title }}{% else %}{{ seoTitleGlobal }}{% endif %}">
	<meta name="description" content="An event for the digital and creative communities combining talks from some of the best speakers in the UK and beyond, with the opportunity watch new and up and coming presenters.">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://mkgeeknight.co.uk/">
	<meta property="og:title" content="MK Geek Night, a quarterly evening event in Milton Keynes">
	<meta property="og:description" content="An event for the digital and creative communities combining talks from some of the best speakers in the UK and beyond, with the opportunity watch new and up and coming presenters.">
	<meta property="og:image" content="{{ siteUrl }}assets/img/mkgn-meta.png">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://mkgeeknight.co.uk/">
	<meta property="twitter:title" content="MK Geek Night, a quarterly evening event in Milton Keynes">
	<meta property="twitter:description" content="An event for the digital and creative communities combining talks from some of the best speakers in the UK and beyond, with the opportunity watch new and up and coming presenters.">
	<meta property="twitter:image" content="{{ siteUrl }}assets/img/mkgn-meta.png">


	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f939f5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body class="main">

	<nav class="nav__mobile bottom-0 left-0 right-0 position-fixed width-100% bg-secondary hide@md flex justify-between items-center padding-x-md">
		<a href="#menu" class="font-secondary color-white padding-y-xs" aria-controls="sidebar">Menu</a>
		<a href="{{ siteUrl }}#tickets"
		   class="font-secondary color-white link__badge padding-y-xs"
		   id="mobile-tickets"
		   aria-controls="closeSidebar">Tickets</a>
	</nav>

	<div class="flex@md">
		<aside class="sidebar sidebar--static@md js-sidebar z-index-1" data-static-class="bg-secondary" id="sidebar" aria-labelledby="sidebarTitle">
			<div class="sidebar__panel">
				<header class="sidebar__header padding-bottom-sm@md padding-top-lg padding-x-md padding-top-md@md svg-inherit">
					<a href="{{ siteUrl }}">
					<svg class="sidebar__logo color-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 933.4 258.91"><title>MK Geek Night</title><path class="cls-1" d="M177.4,9.61h50V258.86h-50V84.34L118,150.13,58.55,84.34v57.24L8.52,197V9.61h50L118,75.49Zm291.76-.26-67.63.16L309.41,111.62l.12-.14V9.61h-50V241.5l63.29-70.09,78.73,87.29,67.63.16L356.49,134.1Zm422.73,0V126.63h0v57.59L773,9.61H723V197l50-55.45V84.34L891.89,258.86h50V9.35ZM506.19,23c-1.05.62-2.1,1.25-3.13,1.89l0,0a132.62,132.62,0,0,0-14.76,10.65l-.21.18c-.85.72-1.7,1.44-2.53,2.18l-.21.18a130.13,130.13,0,0,0-10.23,10.11l-.27.29c-.69.77-1.37,1.55-2.05,2.33l-.39.46c-.65.76-1.28,1.52-1.9,2.29l-.37.45c-.68.85-1.35,1.7-2,2.55l-.16.21q-2.18,2.85-4.2,5.84l-.17.25c-.59.87-1.16,1.75-1.73,2.64-.14.21-.27.43-.41.65-.49.77-1,1.54-1.43,2.32l-.46.76-1.34,2.32c-.14.25-.28.49-.41.74-.49.87-1,1.75-1.43,2.63-.07.15-.15.29-.23.43-1.09,2.1-2.13,4.23-3.1,6.39-.1.22-.2.44-.29.66-.38.84-.75,1.68-1.1,2.54l-.39.93c-.32.77-.63,1.55-.93,2.33l-.39,1q-.45,1.2-.87,2.4c-.11.31-.23.61-.33.92-.32.93-.63,1.86-.94,2.8-.05.17-.11.35-.17.53q-1.14,3.61-2.07,7.31c-.08.31-.16.62-.23.93-.27,1.08-.52,2.17-.75,3.26-.06.24-.11.48-.16.72-.28,1.32-.54,2.64-.78,4,0,.21-.07.42-.1.64-.19,1.11-.37,2.23-.53,3.35-.06.36-.11.72-.16,1.08-.15,1.15-.3,2.3-.42,3.45,0,.2-.05.4-.07.6-.14,1.33-.26,2.67-.35,4,0,.34-.05.69-.07,1-.07,1-.12,2.09-.16,3.14,0,.39,0,.78,0,1.16,0,1.37-.07,2.73-.07,4.1a129.9,129.9,0,0,0,1.63,20.44A127.8,127.8,0,0,0,447.47,173h0l18.29-20.27,4.12-4.58,22.41-24.84h0c.16-1.07.34-2.12.53-3.18a1,1,0,0,0,0-.17l.21-1c.16-.77.32-1.53.49-2.28l.3-1.2c.17-.7.36-1.41.55-2.1.11-.4.22-.8.34-1.19.21-.73.44-1.45.68-2.17h0l.33-1c.29-.84.59-1.66.9-2.48.08-.2.14-.4.22-.59s.17-.41.25-.62c.31-.78.64-1.56,1-2.34l0-.07.54-1.18c.28-.6.55-1.2.84-1.79.21-.43.43-.86.65-1.29s.56-1.08.85-1.61.47-.88.71-1.31.61-1,.91-1.56.5-.85.76-1.27c.39-.64.8-1.26,1.21-1.88l.07-.1c.43-.66.87-1.3,1.32-1.94.29-.41.57-.81.87-1.22s.73-1,1.1-1.46l.82-1.06c.4-.5.8-1,1.21-1.48l.78-.92c.45-.51.89-1,1.35-1.53.19-.22.39-.43.59-.64,1.75-1.89,3.59-3.71,5.52-5.43l.3-.28c.62-.54,1.25-1.08,1.89-1.61l.47-.39c.65-.53,1.3-1,2-1.55l.37-.28a80.62,80.62,0,0,1,12.15-7.64l.08,0a81.16,81.16,0,0,1,16.7-6.3,82.07,82.07,0,0,1,20.28-2.56c1.76,0,3.51.06,5.24.17l.33,0q3.74.26,7.35.84l.8.13c1.57.26,3.12.57,4.66.92a80,80,0,0,1,9.86,2.94,81.28,81.28,0,0,1,9.29,4.1c.75.39,1.49.79,2.23,1.2h0l33.76-37.25a130.61,130.61,0,0,0-49-20.11c-1.21-.22-2.44-.43-3.67-.62l-1.58-.25c-1.27-.18-2.55-.36-3.84-.51L586.74,6c-1.15-.13-2.31-.24-3.47-.33l-1.09-.09c-1.41-.1-2.83-.18-4.25-.24l-1,0c-1.5,0-3-.08-4.52-.08-1.11,0-2.22,0-3.33,0l-1.26,0-2,.07-1.64.1-1.62.11c-.64,0-1.27.1-1.9.16l-1.34.12c-.69.06-1.38.14-2.08.22l-1.13.13c-.75.09-1.49.2-2.23.3l-.94.13L550.53,7l-.77.13c-.83.14-1.67.3-2.5.46l-.61.12c-.87.17-1.74.35-2.6.54l-.48.11c-.91.2-1.8.41-2.7.63l-.35.09c-.93.22-1.85.47-2.77.72l-.26.06q-1.41.39-2.82.81l-.16.05c-1,.29-1.92.59-2.88.9l-.08,0c-1,.31-1.94.64-2.9,1h0c-1,.34-1.93.69-2.89,1.06h0c-1,.37-1.92.74-2.87,1.13h0A131.31,131.31,0,0,0,506.2,23ZM587,159.25H608.6l22.68-25.12L650.37,113h0l1.42-1.58,2-2.2H587Zm108-50-22.49,24.9-22.68,25.12h-.38A81.29,81.29,0,0,1,506.9,181.71h0L473.22,219a131,131,0,0,0,99.2,45.11c63.72,0,116.66-45.15,128.27-104.87l0-50Z" transform="translate(-8.52 -5.21)"/></svg>
					</a>
				</header>


				<div class="sidebar__content">
				<!-- start sidebar content -->
					<nav class="sidebar__nav padding-md" id="menu">
						<ul>
							<li><a href="{{ siteUrl }}#tickets" class="js-sidebar__close-btn sidebar__link--primary">Tickets</a></li>
							<li><a href="{{ siteUrl }}#next-mkgn" class="js-sidebar__close-btn sidebar__link--primary">Next event</a></li>
							<li><a href="{{ siteUrl }}#partners" class="js-sidebar__close-btn sidebar__link--primary">Partners</a></li>
							{# <li><a href="#" class="sidebar__link--primary">News and links</a></li> #}
						</ul>

						<ul>
							{# <li><a href="#" class="sidebar__link--secondary">Location</a></li> #}
							<li><a href="{{ siteUrl }}past" class="sidebar__link--secondary">Past events</a></li>
							<li><a href="http://eepurl.com/dwtlBr" class="sidebar__link--secondary" target="_blank" rel="noreferrer" aria-label="Join our mailing list on Mailchimp (opens in a new tab)">Join our email list</a></li>
							<li><a href="mailto:howdy@mkgeeknight.co.uk" class="sidebar__link--secondary">Contact</a></li>
							<li><a href="https://orbit.link/mkgn" class="sidebar__link--secondary">Community on Orbit</a></li>
						</ul>

						{# <ul>
							<li><a href="#" class="sidebar__link--secondary">Location</a></li>
							<li><a href="#" class="sidebar__link--secondary">Give a talk</a></li>
							<li><a href="#" class="sidebar__link--secondary">About</a></li>
							<li><a href="#" class="sidebar__link--secondary">Code of conduct</a></li>
						</ul> #}

						<ul>
							<li class="line-height-sm"><a href="http://twitter.com/MKGeekNight" class="sidebar__link--tertiary">Twitter</a></li>
							<li class="line-height-sm"><a href="https://www.instagram.com/mkgeeknight/" class="sidebar__link--tertiary">Instagram</a></li>
							{# <li class="line-height-sm"><a href="#" class="sidebar__link--tertiary">Soundcloud</a></li> #}
						</ul>
					</nav>
				<!-- end sidebar content -->
				</div>

				<div class="sidebar__footer display@md">
					<div class="padding-x-md padding-y-xs color-white text-sm">
						{% for entry in nextEvent %}
							#{{ entry.eventNo }} {{ entry.eventDate | date('M j Y') }}
						{% endfor %}
					</div>
					<a href="{{ siteUrl }}#tickets" class="js-sidebar__close-btn bg-primary block padding-x-md padding-y-sm btn btn--primary font-secondary color-white"><span class="link__badge link__badge--white">Tickets</span></a>
				</div>
			</div>
		</aside>

		<main class="flex-grow z-index-2 overflow-hidden">
			<!-- start main content -->
			{% block main %}
				
			{% endblock %}
			<!-- end main content -->

			<div aria-hidden="true" class="event__speaker--border breakout"></div>

			<footer class="container max-width-adaptive-md padding-y-sm@xl margin-bottom-xxl margin-bottom-lg@md">
				<div class="text-component text-sm">
					<p>	MK Geek Night is a collaborative project from <a href="https://pixelcreation.co.uk/" target="_blank" rel="noreferrer noopener">Richard Wiggins</a> and <a href="https://www.davidhughes.org" target="_blank" rel="noreferrer noopener">David Hughes</a>.
						<br>The MKGN brand, design and website created by <a href="http://pixelcreation.co.uk/" target="_blank" rel="noreferrer noopener">Pixel Creation</a>. Website proudly hosted by <a href="https://www.guru.co.uk/" target="_blank" rel="noreferrer noopener">GURU</a>.
						<br><a href="{{ siteUrl }}data-promise">Data Promise - Cookies, Privacy</a> <span class="inline-block margin-xxxxs">|</span> <a href="{{ siteUrl }}terms">Terms & Conditions</a>
					</p>
				</div>
			</footer>
		</main>
	</div>

	<script src="{{ siteUrl }}assets/js/scripts.min.js?dsd0"></script>
	<script src="https://js.tito.io/v1" async></script>
	<!-- Fathom - beautiful, simple website analytics -->
	<script src="https://cdn.usefathom.com/script.js" data-site="NXKAJLUS" defer></script>
	<!-- / Fathom -->
</body>
</html>